{% extends "learning_logs/base.html" %}

{% block page_header %}
    <h3>{{ topic }}</h3>
{% endblock page_header %}

{% block content %}
    <p><a href="{% url 'learning_logs:new_entry' topic.id %}">add new entry</a></p>

    {% for entry in entries %}
        <div class="card mb-3">
            <h4 class="card-header">
               {{ entry.date_added|date:'M d, Y H:i' }} {# '|' фильтр применяющий дальше формат даты. !Регистр имеет значение #}
                <small><a href="{% url 'learning_logs:edit_entry' entry.id %}">edit entry</a></small>
            </h4>

            <div class="card-body">
                <p>{{ entry.text|linebreaks }}</p> {# linebreaks следит чтобы все разрывы текста присутствовали на самом деле #}
            </div>

        </div>
    {% empty %}
        <p>There are no entries for this topic yet.</p>
    {% endfor %}

{% endblock content %}
